<section class="bg-dark" id="action">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">International students deserve better.</h2>
                <hr class="light">
                <p class="text-faded">Universities benefit from international students and workers, but their policies cause significant harm to the students they recruit and to their families. </p>
                <p class="text-faded">While immigration policies are set at the national level, universities and departments can make changes, alter policies, and provide further resources to improve the quality of life for international students.</p>
                <p  class="text-faded">Join the VFC as we build a community of support for international students, document their experiences, and take action to fight for a better future. </p>      
                <p>
                  <a href="https://docs.google.com/forms/d/e/1FAIpQLSeaeXW-EPkswSlUe5yLP-LrULdFttogwr2R_DlJWWa5iOJteA/viewform?fbzx=-2565945766701127848" class="btn btn-default btn-xl">Take the Survey</a>
                </p>          
            </div>
        </div>
    </div>
</section>
